*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    font-size: 18px;
}

.home {
    background-color:gray;
    text-align:left;
}

.main, .desc, h3{
    font-size: 28px;
    font-weight:bold;
    background-color:paleturquoise;
    color: rgb(11, 49, 11);
}

img{
    height: auto;
    width:400px;
}

.desc, h3{
    font-size:20px;
}

p,
ol li{
    background-color:rgb(33, 87, 87);
    color:white;
    font-size: 15px;
    text-align: left;
}

ul li {
    background-color:palegreen;
    font-size:15px;
    text-align:left;
}